/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */
/* Document
   ========================================================================== */
/**
 * Use a better box model (opinionated).
 */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/**
 * Use a more readable tab size (opinionated).
 */
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct height in Firefox.
 */
hr {
  height: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Add the correct text decoration in Chrome, Edge, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
 */
legend {
  padding: 0;
}
/**
 * Add the correct vertical alignment in Chrome and Firefox.
 */
progress {
  vertical-align: baseline;
}
/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Chrome and Safari.
 */
summary {
  display: list-item;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  vertical-align: baseline;
}
html {
  font-size: 58%;
}
body {
  font-family: "PingFang SC", -apple-system, BlinkMacSystemFont, opensans, Optima, 'Microsoft Yahei', sans-serif;
  font-size: 16px;
  letter-spacing: 1.0382px;
}
button {
  outline: none !important;
}
a {
  text-decoration: none !important;
  transition: all 0.3s;
}
body,
div,
a,
p,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
table,
tr,
td {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ol li {
  list-style: decimal;
  font-size: 16px;
}
ul li {
  list-style: disc;
  font-size: 16px;
}
.main {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}
.main .main-content {
  flex: 1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.gt-post-content {
  word-break: normal;
  word-wrap: break-word;
}
.gt-post-content a {
  transition: all 0.3s;
}
.gt-post-content img {
  display: block;
  max-width: 100%;
  border-radius: 2px;
  margin: 18px auto;
}
.gt-post-content p {
  line-height: 1.725;
  margin-bottom: 18px;
  font-size: 16px;
  letter-spacing: 1.0382px;
}
.gt-post-content pre {
  margin-bottom: 18px;
}
.gt-post-content blockquote {
  padding: 16px;
  border-left: 4px;
  border-style: solid;
  margin-bottom: 16px;
}
.gt-post-content blockquote p {
  margin-bottom: 0;
}
.gt-post-content table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
}
.gt-post-content tr {
  border-top: 1px solid #dfe2e5;
}
.gt-post-content td,
.gt-post-content th {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}
.gt-post-content ul,
.gt-post-content ol {
  padding-left: 20px;
  line-height: 1.725;
  margin-bottom: 16px;
}
.gt-post-content h1,
.gt-post-content h2,
.gt-post-content h3,
.gt-post-content h4,
.gt-post-content h5,
.gt-post-content h6 {
  margin-bottom: 18px;
  padding-top: 14px;
  font-weight: bold;
}
.gt-post-content h1 {
  font-size: 28px;
}
.gt-post-content h2 {
  font-size: 24px;
}
.gt-post-content h3 {
  font-size: 20px;
}
.gt-post-content h4 {
  font-size: 18px;
}
.gt-post-content h5 {
  font-size: 16px;
}
.gt-post-content h6 {
  font-size: 14px;
}
.gt-post-content p code,
.gt-post-content li code {
  padding: 0 6px;
  margin: 0 3px;
  font-size: 13px;
  border-radius: 4px;
  display: inline-block;
}
.gt-post-content pre {
  margin-bottom: 18px;
}
.gt-post-content pre code {
  font-size: 13px;
  font-family: Menlo, Monaco, 'Source Code Pro', Consolas, 'Courier New', monospace;
  padding: 1em;
  border-radius: 5px;
  line-height: 1.375;
  width: 100%;
  overflow: scroll;
  display: block;
}
.gt-fr {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gt-fc {
  display: flex;
  flex-direction: column;
}
.search-input {
  position: relative;
  left: -2px;
  width: 180px;
  height: 26px;
  padding: 0 0 2px 27px;
  font-size: 14px;
  background: url(https://i.loli.net/2020/01/12/X3cnLxGjo7Wb8Jk.png) 6px 3px no-repeat;
  background-color: #F3F3F3 !important;
  background-size: 20px;
  border: 0;
  border-radius: 15px;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  outline: 0;
  color: #495057;
  border-bottom: 2px #495057;
  transition: border-color 0.2s;
}
img.user-avatar:hover {
  transform: rotate(666turn);
  transition-delay: 1s;
  transition-property: all;
  transition-duration: 59s;
  transition-timing-function: cubic-bezier(0.34, 0, 0.84, 1);
}
div.main-content {
  background-image: url('https://cdn.u1.huluxia.com/g4/M02/D9/2C/rBAAdmFziEeANffKABAqdjnyj0I235.jpg');
}
img.friend-avatar:hover {
  transform: rotate(666turn);
  transition-delay: 1s;
  transition-property: all;
  transition-duration: 59s;
  transition-timing-function: cubic-bezier(0.34, 0, 0.84, 1);
}
img.vavatar.ls-is-cached.lazyloaded:hover {
  transform: rotate(666turn);
  transition-delay: 1s;
  transition-property: all;
  transition-duration: 59s;
  transition-timing-function: cubic-bezier(0.34, 0, 0.84, 1);
}
/*黑白网页效果，取消注释启用
html.gray { 
  -webkit-filter: grayscale(100%); 
  -moz-filter: grayscale(100%); 
  -ms-filter: grayscale(100%); 
  -o-filter: grayscale(100%); 
  filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);  
  _filter:none; 
} */
.navbar {
  padding: 38px 96px !important;
}
.navbar .navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .navbar-brand .user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.navbar .navbar-brand .site-name {
  font-size: 28px !important;
  font-weight: bold;
  margin-left: 16px;
}
.navbar .navbar-nav {
  width: 100%;
  justify-content: flex-end;
}
.navbar .navbar-nav .nav-item {
  padding: 16px 32px;
}
.navbar .navbar-nav .nav-item a {
  font-size: 15px;
  flex-shrink: 0;
}
.navbar .img-more {
  width: 22px;
  height: 22px;
}
@media (max-width: 992px) {
  .navbar {
    padding: 30px 30px 0 30px !important;
  }
  .navbar .navbar-brand .user-avatar {
    width: 31px;
    height: 31px;
    border-radius: 50%;
  }
  .navbar .navbar-brand .site-name {
    font-size: 21px !important;
    font-weight: bold;
  }
  .navbar .nav-item {
    padding: 16px 32px;
  }
  .navbar .nav-item:first-child {
    margin-top: 35px;
  }
}
.post-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-list-container .post-inner {
  min-width: 1000px;
  max-width: 1000px;
}
.post-list-container .post-inner .post {
  margin: 30px;
  border-radius: 4px;
  padding: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
}
.post-list-container .post-inner .post .post-left {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.post-list-container .post-inner .post .post-left .sticky-top-flag {
  color: white;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 3px;
  margin-right: 10px;
  vertical-align: middle;
}
.post-list-container .post-inner .post .post-left .post-title {
  font-size: 22px;
  font-weight: normal;
  vertical-align: middle;
}
.post-list-container .post-inner .post .post-left .post-abstract {
  width: 100%;
  margin-top: 20px;
  line-height: 1.5;
}
.post-list-container .post-inner .post .post-left .post-abstract * {
  font-size: 13px;
  margin-bottom: 0;
}
.post-list-container .post-inner .post .post-left .post-info {
  margin-top: 20px;
}
.post-list-container .post-inner .post .post-left .post-info .post-time {
  font-size: 12px;
}
.post-list-container .post-inner .post .post-left .post-info .post-tag {
  font-size: 12px;
  margin-left: 10px;
}
.post-list-container .post-inner .post:hover {
  transform: scale(1.012);
}
.post-list-container .post-inner .post .post-feature-image {
  width: 200px;
  height: 100px;
  flex-basis: 200px;
  flex-shrink: 0;
  margin-left: 20px;
  border-radius: 2px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.pagination-container {
  padding: 24px 32px 32px;
  align-self: center;
}
.pagination-container .prev-page {
  margin: 0 16px;
  font-size: 14px;
}
.pagination-container .next-page {
  margin: 0 16px;
  font-size: 14px;
}
@media (max-width: 992px) {
  .post-list-container .post-inner {
    min-width: 0;
    width: 100%;
    margin-top: 16px;
  }
  .post-list-container .post-inner .post {
    margin: 12px 16px 12px 16px;
    padding: 18px 22px 18px 22px;
  }
  .post-list-container .post-inner .post .post-left .post-title {
    font-size: 17px;
    font-weight: bold;
  }
  .post-list-container .post-inner .post .post-left .post-abstract {
    margin-top: 10px;
  }
  .post-list-container .post-inner .post .post-left .post-info {
    margin-top: 10px;
  }
  .post-list-container .post-inner .post .post-left .post-info .post-time {
    font-size: 12px;
  }
  .post-list-container .post-inner .post .post-left .post-info .post-tag {
    font-size: 12px;
    margin-left: 10px;
  }
  .post-list-container .post-inner .post .post-feature-image {
    width: 0;
    height: 0;
    flex-basis: 0;
    flex-shrink: 0;
    margin-left: 0;
    border-radius: 2px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }
}
.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}
.post-container .post-detail {
  flex: 1;
  padding: 24px 32px;
  width: 1000px;
  border-radius: 4px;
}
.post-container .post-detail .post-title {
  font-size: 26px;
  text-align: center;
  padding: 24px;
  font-weight: normal;
}
.post-container .post-detail .post-info {
  text-align: center;
  font-size: 12px;
  padding-bottom: 24px;
}
.post-container .post-detail .post-info .post-tag {
  padding: 8px 16px;
}
.post-container .post-detail .post-content {
  margin-top: 30px;
}
.next-post {
  text-align: center;
  padding: 24px 32px;
}
.next-post .next {
  margin-bottom: 24px;
  font-size: 14px;
}
.next-post .post-title {
  font-size: 20px;
  font-weight: bold;
}
#gitalk-container,
#disqus_thread {
  padding: 24px 32px;
  width: 80%;
  max-width: 1000px;
}
@media (max-width: 992px) {
  .post-container .post-detail {
    width: 100%;
    margin-top: 20px;
  }
  .post-container .post-detail .post-title {
    font-size: 20px;
    font-weight: bold;
  }
  #gitalk-container,
  #disqus_thread {
    padding: 24px 32px;
    width: 100%;
  }
}
.archives-container {
  padding: 32px;
  display: flex;
  flex-direction: column;
}
.archives-container .year {
  font-size: 34px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 16px;
  align-self: start;
}
.archives-container .post {
  float: left;
  padding: 16px 0;
}
.archives-container .post .post-title {
  float: left;
  font-size: 16px;
}
.archives-container .post .post-title small {
  float: left;
  font-size: 80%;
}
@media (max-width: 600px) {
  .archives-container {
    padding: 16px;
  }
}
.tags-container {
  padding: 32px 32px;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.tags-container .tag {
  font-size: 15px;
  margin: 5px 15px;
}
.current-tag-container .title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .current-tag-container .title {
    margin-top: 50px;
  }
}
.about-page {
  padding: 24px 32px;
}
.site-footer {
  font-size: 12px;
  text-align: center;
  padding: 24px;
}
.site-footer .slogan {
  padding-bottom: 16px;
}
.site-footer .social-container {
  padding-bottom: 16px;
}
.site-footer .social-container i {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}
.site-footer .footer-info {
  padding-bottom: 10px;
}
.friend-box {
  float: left;
  width: calc(50% - 20px);
  margin: 15px 10px;
}
.friend-box img.friend-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50% !important;
  float: left;
  margin: 0 15px 0 0 !important;
}
.friend-box .flink-info {
  height: 70px;
  overflow: hidden;
  line-height: 24px;
  padding-left: 30px;
  font-size: 14px;
}
.friend-box .flink-info a {
  font-size: 18px;
  color: #000 !important;
  background: linear-gradient(180deg, transparent 75%, #fce5e2 0);
  margin-bottom: 10px;
}
.friend-box .flink-info .flink-info-desc {
  margin-top: 10px;
}
/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #002b36;
  color: #839496;
}
.hljs-comment,
.hljs-quote {
  color: #586e75;
}
/* Solarized Green */
.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: #859900;
}
/* Solarized Cyan */
.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: #2aa198;
}
/* Solarized Blue */
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #268bd2;
}
/* Solarized Yellow */
.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: #b58900;
}
/* Solarized Orange */
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: #cb4b16;
}
/* Solarized Red */
.hljs-built_in,
.hljs-deletion {
  color: #dc322f;
}
.hljs-formula {
  background: #073642;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
/* 代码滑块 */
pre::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
pre::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #cbcbcb;
}
pre::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}
code::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
code::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #cbcbcb;
}
code::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}
@font-face {
  font-family: KaTeX_AMS;
  src: url(fonts/KaTeX_AMS-Regular.eot);
  src: url(fonts/KaTeX_AMS-Regular.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_AMS-Regular.woff2) format('woff2'), url(fonts/KaTeX_AMS-Regular.woff) format('woff'), url(fonts/KaTeX_AMS-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: KaTeX_Caligraphic;
  src: url(fonts/KaTeX_Caligraphic-Bold.eot);
  src: url(fonts/KaTeX_Caligraphic-Bold.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Caligraphic-Bold.woff2) format('woff2'), url(fonts/KaTeX_Caligraphic-Bold.woff) format('woff'), url(fonts/KaTeX_Caligraphic-Bold.ttf) format('ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: KaTeX_Caligraphic;
  src: url(fonts/KaTeX_Caligraphic-Regular.eot);
  src: url(fonts/KaTeX_Caligraphic-Regular.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Caligraphic-Regular.woff2) format('woff2'), url(fonts/KaTeX_Caligraphic-Regular.woff) format('woff'), url(fonts/KaTeX_Caligraphic-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: KaTeX_Fraktur;
  src: url(fonts/KaTeX_Fraktur-Bold.eot);
  src: url(fonts/KaTeX_Fraktur-Bold.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Fraktur-Bold.woff2) format('woff2'), url(fonts/KaTeX_Fraktur-Bold.woff) format('woff'), url(fonts/KaTeX_Fraktur-Bold.ttf) format('ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: KaTeX_Fraktur;
  src: url(fonts/KaTeX_Fraktur-Regular.eot);
  src: url(fonts/KaTeX_Fraktur-Regular.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Fraktur-Regular.woff2) format('woff2'), url(fonts/KaTeX_Fraktur-Regular.woff) format('woff'), url(fonts/KaTeX_Fraktur-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: KaTeX_Main;
  src: url(fonts/KaTeX_Main-Bold.eot);
  src: url(fonts/KaTeX_Main-Bold.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Main-Bold.woff2) format('woff2'), url(fonts/KaTeX_Main-Bold.woff) format('woff'), url(fonts/KaTeX_Main-Bold.ttf) format('ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: KaTeX_Main;
  src: url(fonts/KaTeX_Main-Italic.eot);
  src: url(fonts/KaTeX_Main-Italic.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Main-Italic.woff2) format('woff2'), url(fonts/KaTeX_Main-Italic.woff) format('woff'), url(fonts/KaTeX_Main-Italic.ttf) format('ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: KaTeX_Main;
  src: url(fonts/KaTeX_Main-Regular.eot);
  src: url(fonts/KaTeX_Main-Regular.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Main-Regular.woff2) format('woff2'), url(fonts/KaTeX_Main-Regular.woff) format('woff'), url(fonts/KaTeX_Main-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: KaTeX_Math;
  src: url(fonts/KaTeX_Math-Italic.eot);
  src: url(fonts/KaTeX_Math-Italic.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Math-Italic.woff2) format('woff2'), url(fonts/KaTeX_Math-Italic.woff) format('woff'), url(fonts/KaTeX_Math-Italic.ttf) format('ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: KaTeX_SansSerif;
  src: url(fonts/KaTeX_SansSerif-Regular.eot);
  src: url(fonts/KaTeX_SansSerif-Regular.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_SansSerif-Regular.woff2) format('woff2'), url(fonts/KaTeX_SansSerif-Regular.woff) format('woff'), url(fonts/KaTeX_SansSerif-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: KaTeX_Script;
  src: url(fonts/KaTeX_Script-Regular.eot);
  src: url(fonts/KaTeX_Script-Regular.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Script-Regular.woff2) format('woff2'), url(fonts/KaTeX_Script-Regular.woff) format('woff'), url(fonts/KaTeX_Script-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: KaTeX_Size1;
  src: url(fonts/KaTeX_Size1-Regular.eot);
  src: url(fonts/KaTeX_Size1-Regular.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Size1-Regular.woff2) format('woff2'), url(fonts/KaTeX_Size1-Regular.woff) format('woff'), url(fonts/KaTeX_Size1-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: KaTeX_Size2;
  src: url(fonts/KaTeX_Size2-Regular.eot);
  src: url(fonts/KaTeX_Size2-Regular.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Size2-Regular.woff2) format('woff2'), url(fonts/KaTeX_Size2-Regular.woff) format('woff'), url(fonts/KaTeX_Size2-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: KaTeX_Size3;
  src: url(fonts/KaTeX_Size3-Regular.eot);
  src: url(fonts/KaTeX_Size3-Regular.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Size3-Regular.woff2) format('woff2'), url(fonts/KaTeX_Size3-Regular.woff) format('woff'), url(fonts/KaTeX_Size3-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: KaTeX_Size4;
  src: url(fonts/KaTeX_Size4-Regular.eot);
  src: url(fonts/KaTeX_Size4-Regular.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Size4-Regular.woff2) format('woff2'), url(fonts/KaTeX_Size4-Regular.woff) format('woff'), url(fonts/KaTeX_Size4-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: KaTeX_Typewriter;
  src: url(fonts/KaTeX_Typewriter-Regular.eot);
  src: url(fonts/KaTeX_Typewriter-Regular.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Typewriter-Regular.woff2) format('woff2'), url(fonts/KaTeX_Typewriter-Regular.woff) format('woff'), url(fonts/KaTeX_Typewriter-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}
.katex-display {
  display: block;
  margin: 1em 0;
  text-align: center;
}
.katex-display > .katex {
  display: inline-block;
}
.katex {
  font: 400 1.21em KaTeX_Main;
  line-height: 1.2;
  white-space: nowrap;
  text-indent: 0;
}
.katex .katex-html {
  display: inline-block;
}
.katex .katex-mathml {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.katex .base,
.katex .strut {
  display: inline-block;
}
.katex .mathit {
  font-family: KaTeX_Math;
  font-style: italic;
}
.katex .mathbf {
  font-family: KaTeX_Main;
  font-weight: 700;
}
.katex .amsrm,
.katex .mathbb {
  font-family: KaTeX_AMS;
}
.katex .mathcal {
  font-family: KaTeX_Caligraphic;
}
.katex .mathfrak {
  font-family: KaTeX_Fraktur;
}
.katex .mathtt {
  font-family: KaTeX_Typewriter;
}
.katex .mathscr {
  font-family: KaTeX_Script;
}
.katex .mathsf {
  font-family: KaTeX_SansSerif;
}
.katex .mainit {
  font-family: KaTeX_Main;
  font-style: italic;
}
.katex .textstyle > .mord + .mop {
  margin-left: 0.16667em;
}
.katex .textstyle > .mord + .mbin {
  margin-left: 0.22222em;
}
.katex .textstyle > .mord + .mrel {
  margin-left: 0.27778em;
}
.katex .textstyle > .mop + .mop,
.katex .textstyle > .mop + .mord,
.katex .textstyle > .mord + .minner {
  margin-left: 0.16667em;
}
.katex .textstyle > .mop + .mrel {
  margin-left: 0.27778em;
}
.katex .textstyle > .mop + .minner {
  margin-left: 0.16667em;
}
.katex .textstyle > .mbin + .minner,
.katex .textstyle > .mbin + .mop,
.katex .textstyle > .mbin + .mopen,
.katex .textstyle > .mbin + .mord {
  margin-left: 0.22222em;
}
.katex .textstyle > .mrel + .minner,
.katex .textstyle > .mrel + .mop,
.katex .textstyle > .mrel + .mopen,
.katex .textstyle > .mrel + .mord {
  margin-left: 0.27778em;
}
.katex .textstyle > .mclose + .mop {
  margin-left: 0.16667em;
}
.katex .textstyle > .mclose + .mbin {
  margin-left: 0.22222em;
}
.katex .textstyle > .mclose + .mrel {
  margin-left: 0.27778em;
}
.katex .textstyle > .mclose + .minner,
.katex .textstyle > .minner + .mop,
.katex .textstyle > .minner + .mord,
.katex .textstyle > .mpunct + .mclose,
.katex .textstyle > .mpunct + .minner,
.katex .textstyle > .mpunct + .mop,
.katex .textstyle > .mpunct + .mopen,
.katex .textstyle > .mpunct + .mord,
.katex .textstyle > .mpunct + .mpunct,
.katex .textstyle > .mpunct + .mrel {
  margin-left: 0.16667em;
}
.katex .textstyle > .minner + .mbin {
  margin-left: 0.22222em;
}
.katex .textstyle > .minner + .mrel {
  margin-left: 0.27778em;
}
.katex .mclose + .mop,
.katex .minner + .mop,
.katex .mop + .mop,
.katex .mop + .mord,
.katex .mord + .mop,
.katex .textstyle > .minner + .minner,
.katex .textstyle > .minner + .mopen,
.katex .textstyle > .minner + .mpunct {
  margin-left: 0.16667em;
}
.katex .reset-textstyle.textstyle {
  font-size: 1em;
}
.katex .reset-textstyle.scriptstyle {
  font-size: 0.7em;
}
.katex .reset-textstyle.scriptscriptstyle {
  font-size: 0.5em;
}
.katex .reset-scriptstyle.textstyle {
  font-size: 1.42857em;
}
.katex .reset-scriptstyle.scriptstyle {
  font-size: 1em;
}
.katex .reset-scriptstyle.scriptscriptstyle {
  font-size: 0.71429em;
}
.katex .reset-scriptscriptstyle.textstyle {
  font-size: 2em;
}
.katex .reset-scriptscriptstyle.scriptstyle {
  font-size: 1.4em;
}
.katex .reset-scriptscriptstyle.scriptscriptstyle {
  font-size: 1em;
}
.katex .style-wrap {
  position: relative;
}
.katex .vlist {
  display: inline-block;
}
.katex .vlist > span {
  display: block;
  height: 0;
  position: relative;
}
.katex .vlist > span > span {
  display: inline-block;
}
.katex .vlist .baseline-fix {
  display: inline-table;
  table-layout: fixed;
}
.katex .msupsub {
  text-align: left;
}
.katex .mfrac > span > span {
  text-align: center;
}
.katex .mfrac .frac-line {
  width: 100%;
}
.katex .mfrac .frac-line:before {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  content: "";
  display: block;
}
.katex .mfrac .frac-line:after {
  border-bottom-style: solid;
  border-bottom-width: 0.04em;
  content: "";
  display: block;
  margin-top: -1px;
}
.katex .mspace {
  display: inline-block;
}
.katex .mspace.negativethinspace {
  margin-left: -0.16667em;
}
.katex .mspace.thinspace {
  width: 0.16667em;
}
.katex .mspace.mediumspace {
  width: 0.22222em;
}
.katex .mspace.thickspace {
  width: 0.27778em;
}
.katex .mspace.enspace {
  width: 0.5em;
}
.katex .mspace.quad {
  width: 1em;
}
.katex .mspace.qquad {
  width: 2em;
}
.katex .llap,
.katex .rlap {
  width: 0;
  position: relative;
}
.katex .llap > .inner,
.katex .rlap > .inner {
  position: absolute;
}
.katex .llap > .fix,
.katex .rlap > .fix {
  display: inline-block;
}
.katex .llap > .inner {
  right: 0;
}
.katex .rlap > .inner {
  left: 0;
}
.katex .katex-logo .a {
  font-size: 0.75em;
  margin-left: -0.32em;
  position: relative;
  top: -0.2em;
}
.katex .katex-logo .t {
  margin-left: -0.23em;
}
.katex .katex-logo .e {
  margin-left: -0.1667em;
  position: relative;
  top: 0.2155em;
}
.katex .katex-logo .x {
  margin-left: -0.125em;
}
.katex .rule {
  display: inline-block;
  border-style: solid;
  position: relative;
}
.katex .overline .overline-line {
  width: 100%;
}
.katex .overline .overline-line:before {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  content: "";
  display: block;
}
.katex .overline .overline-line:after {
  border-bottom-style: solid;
  border-bottom-width: 0.04em;
  content: "";
  display: block;
  margin-top: -1px;
}
.katex .sqrt > .sqrt-sign {
  position: relative;
}
.katex .sqrt .sqrt-line {
  width: 100%;
}
.katex .sqrt .sqrt-line:before {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  content: "";
  display: block;
}
.katex .sqrt .sqrt-line:after {
  border-bottom-style: solid;
  border-bottom-width: 0.04em;
  content: "";
  display: block;
  margin-top: -1px;
}
.katex .sqrt > .root {
  margin-left: 0.27777778em;
  margin-right: -0.55555556em;
}
.katex .fontsize-ensurer,
.katex .sizing {
  display: inline-block;
}
.katex .fontsize-ensurer.reset-size1.size1,
.katex .sizing.reset-size1.size1 {
  font-size: 1em;
}
.katex .fontsize-ensurer.reset-size1.size2,
.katex .sizing.reset-size1.size2 {
  font-size: 1.4em;
}
.katex .fontsize-ensurer.reset-size1.size3,
.katex .sizing.reset-size1.size3 {
  font-size: 1.6em;
}
.katex .fontsize-ensurer.reset-size1.size4,
.katex .sizing.reset-size1.size4 {
  font-size: 1.8em;
}
.katex .fontsize-ensurer.reset-size1.size5,
.katex .sizing.reset-size1.size5 {
  font-size: 2em;
}
.katex .fontsize-ensurer.reset-size1.size6,
.katex .sizing.reset-size1.size6 {
  font-size: 2.4em;
}
.katex .fontsize-ensurer.reset-size1.size7,
.katex .sizing.reset-size1.size7 {
  font-size: 2.88em;
}
.katex .fontsize-ensurer.reset-size1.size8,
.katex .sizing.reset-size1.size8 {
  font-size: 3.46em;
}
.katex .fontsize-ensurer.reset-size1.size9,
.katex .sizing.reset-size1.size9 {
  font-size: 4.14em;
}
.katex .fontsize-ensurer.reset-size1.size10,
.katex .sizing.reset-size1.size10 {
  font-size: 4.98em;
}
.katex .fontsize-ensurer.reset-size2.size1,
.katex .sizing.reset-size2.size1 {
  font-size: 0.71428571em;
}
.katex .fontsize-ensurer.reset-size2.size2,
.katex .sizing.reset-size2.size2 {
  font-size: 1em;
}
.katex .fontsize-ensurer.reset-size2.size3,
.katex .sizing.reset-size2.size3 {
  font-size: 1.14285714em;
}
.katex .fontsize-ensurer.reset-size2.size4,
.katex .sizing.reset-size2.size4 {
  font-size: 1.28571429em;
}
.katex .fontsize-ensurer.reset-size2.size5,
.katex .sizing.reset-size2.size5 {
  font-size: 1.42857143em;
}
.katex .fontsize-ensurer.reset-size2.size6,
.katex .sizing.reset-size2.size6 {
  font-size: 1.71428571em;
}
.katex .fontsize-ensurer.reset-size2.size7,
.katex .sizing.reset-size2.size7 {
  font-size: 2.05714286em;
}
.katex .fontsize-ensurer.reset-size2.size8,
.katex .sizing.reset-size2.size8 {
  font-size: 2.47142857em;
}
.katex .fontsize-ensurer.reset-size2.size9,
.katex .sizing.reset-size2.size9 {
  font-size: 2.95714286em;
}
.katex .fontsize-ensurer.reset-size2.size10,
.katex .sizing.reset-size2.size10 {
  font-size: 3.55714286em;
}
.katex .fontsize-ensurer.reset-size3.size1,
.katex .sizing.reset-size3.size1 {
  font-size: 0.625em;
}
.katex .fontsize-ensurer.reset-size3.size2,
.katex .sizing.reset-size3.size2 {
  font-size: 0.875em;
}
.katex .fontsize-ensurer.reset-size3.size3,
.katex .sizing.reset-size3.size3 {
  font-size: 1em;
}
.katex .fontsize-ensurer.reset-size3.size4,
.katex .sizing.reset-size3.size4 {
  font-size: 1.125em;
}
.katex .fontsize-ensurer.reset-size3.size5,
.katex .sizing.reset-size3.size5 {
  font-size: 1.25em;
}
.katex .fontsize-ensurer.reset-size3.size6,
.katex .sizing.reset-size3.size6 {
  font-size: 1.5em;
}
.katex .fontsize-ensurer.reset-size3.size7,
.katex .sizing.reset-size3.size7 {
  font-size: 1.8em;
}
.katex .fontsize-ensurer.reset-size3.size8,
.katex .sizing.reset-size3.size8 {
  font-size: 2.1625em;
}
.katex .fontsize-ensurer.reset-size3.size9,
.katex .sizing.reset-size3.size9 {
  font-size: 2.5875em;
}
.katex .fontsize-ensurer.reset-size3.size10,
.katex .sizing.reset-size3.size10 {
  font-size: 3.1125em;
}
.katex .fontsize-ensurer.reset-size4.size1,
.katex .sizing.reset-size4.size1 {
  font-size: 0.55555556em;
}
.katex .fontsize-ensurer.reset-size4.size2,
.katex .sizing.reset-size4.size2 {
  font-size: 0.77777778em;
}
.katex .fontsize-ensurer.reset-size4.size3,
.katex .sizing.reset-size4.size3 {
  font-size: 0.88888889em;
}
.katex .fontsize-ensurer.reset-size4.size4,
.katex .sizing.reset-size4.size4 {
  font-size: 1em;
}
.katex .fontsize-ensurer.reset-size4.size5,
.katex .sizing.reset-size4.size5 {
  font-size: 1.11111111em;
}
.katex .fontsize-ensurer.reset-size4.size6,
.katex .sizing.reset-size4.size6 {
  font-size: 1.33333333em;
}
.katex .fontsize-ensurer.reset-size4.size7,
.katex .sizing.reset-size4.size7 {
  font-size: 1.6em;
}
.katex .fontsize-ensurer.reset-size4.size8,
.katex .sizing.reset-size4.size8 {
  font-size: 1.92222222em;
}
.katex .fontsize-ensurer.reset-size4.size9,
.katex .sizing.reset-size4.size9 {
  font-size: 2.3em;
}
.katex .fontsize-ensurer.reset-size4.size10,
.katex .sizing.reset-size4.size10 {
  font-size: 2.76666667em;
}
.katex .fontsize-ensurer.reset-size5.size1,
.katex .sizing.reset-size5.size1 {
  font-size: 0.5em;
}
.katex .fontsize-ensurer.reset-size5.size2,
.katex .sizing.reset-size5.size2 {
  font-size: 0.7em;
}
.katex .fontsize-ensurer.reset-size5.size3,
.katex .sizing.reset-size5.size3 {
  font-size: 0.8em;
}
.katex .fontsize-ensurer.reset-size5.size4,
.katex .sizing.reset-size5.size4 {
  font-size: 0.9em;
}
.katex .fontsize-ensurer.reset-size5.size5,
.katex .sizing.reset-size5.size5 {
  font-size: 1em;
}
.katex .fontsize-ensurer.reset-size5.size6,
.katex .sizing.reset-size5.size6 {
  font-size: 1.2em;
}
.katex .fontsize-ensurer.reset-size5.size7,
.katex .sizing.reset-size5.size7 {
  font-size: 1.44em;
}
.katex .fontsize-ensurer.reset-size5.size8,
.katex .sizing.reset-size5.size8 {
  font-size: 1.73em;
}
.katex .fontsize-ensurer.reset-size5.size9,
.katex .sizing.reset-size5.size9 {
  font-size: 2.07em;
}
.katex .fontsize-ensurer.reset-size5.size10,
.katex .sizing.reset-size5.size10 {
  font-size: 2.49em;
}
.katex .fontsize-ensurer.reset-size6.size1,
.katex .sizing.reset-size6.size1 {
  font-size: 0.41666667em;
}
.katex .fontsize-ensurer.reset-size6.size2,
.katex .sizing.reset-size6.size2 {
  font-size: 0.58333333em;
}
.katex .fontsize-ensurer.reset-size6.size3,
.katex .sizing.reset-size6.size3 {
  font-size: 0.66666667em;
}
.katex .fontsize-ensurer.reset-size6.size4,
.katex .sizing.reset-size6.size4 {
  font-size: 0.75em;
}
.katex .fontsize-ensurer.reset-size6.size5,
.katex .sizing.reset-size6.size5 {
  font-size: 0.83333333em;
}
.katex .fontsize-ensurer.reset-size6.size6,
.katex .sizing.reset-size6.size6 {
  font-size: 1em;
}
.katex .fontsize-ensurer.reset-size6.size7,
.katex .sizing.reset-size6.size7 {
  font-size: 1.2em;
}
.katex .fontsize-ensurer.reset-size6.size8,
.katex .sizing.reset-size6.size8 {
  font-size: 1.44166667em;
}
.katex .fontsize-ensurer.reset-size6.size9,
.katex .sizing.reset-size6.size9 {
  font-size: 1.725em;
}
.katex .fontsize-ensurer.reset-size6.size10,
.katex .sizing.reset-size6.size10 {
  font-size: 2.075em;
}
.katex .fontsize-ensurer.reset-size7.size1,
.katex .sizing.reset-size7.size1 {
  font-size: 0.34722222em;
}
.katex .fontsize-ensurer.reset-size7.size2,
.katex .sizing.reset-size7.size2 {
  font-size: 0.48611111em;
}
.katex .fontsize-ensurer.reset-size7.size3,
.katex .sizing.reset-size7.size3 {
  font-size: 0.55555556em;
}
.katex .fontsize-ensurer.reset-size7.size4,
.katex .sizing.reset-size7.size4 {
  font-size: 0.625em;
}
.katex .fontsize-ensurer.reset-size7.size5,
.katex .sizing.reset-size7.size5 {
  font-size: 0.69444444em;
}
.katex .fontsize-ensurer.reset-size7.size6,
.katex .sizing.reset-size7.size6 {
  font-size: 0.83333333em;
}
.katex .fontsize-ensurer.reset-size7.size7,
.katex .sizing.reset-size7.size7 {
  font-size: 1em;
}
.katex .fontsize-ensurer.reset-size7.size8,
.katex .sizing.reset-size7.size8 {
  font-size: 1.20138889em;
}
.katex .fontsize-ensurer.reset-size7.size9,
.katex .sizing.reset-size7.size9 {
  font-size: 1.4375em;
}
.katex .fontsize-ensurer.reset-size7.size10,
.katex .sizing.reset-size7.size10 {
  font-size: 1.72916667em;
}
.katex .fontsize-ensurer.reset-size8.size1,
.katex .sizing.reset-size8.size1 {
  font-size: 0.28901734em;
}
.katex .fontsize-ensurer.reset-size8.size2,
.katex .sizing.reset-size8.size2 {
  font-size: 0.40462428em;
}
.katex .fontsize-ensurer.reset-size8.size3,
.katex .sizing.reset-size8.size3 {
  font-size: 0.46242775em;
}
.katex .fontsize-ensurer.reset-size8.size4,
.katex .sizing.reset-size8.size4 {
  font-size: 0.52023121em;
}
.katex .fontsize-ensurer.reset-size8.size5,
.katex .sizing.reset-size8.size5 {
  font-size: 0.57803468em;
}
.katex .fontsize-ensurer.reset-size8.size6,
.katex .sizing.reset-size8.size6 {
  font-size: 0.69364162em;
}
.katex .fontsize-ensurer.reset-size8.size7,
.katex .sizing.reset-size8.size7 {
  font-size: 0.83236994em;
}
.katex .fontsize-ensurer.reset-size8.size8,
.katex .sizing.reset-size8.size8 {
  font-size: 1em;
}
.katex .fontsize-ensurer.reset-size8.size9,
.katex .sizing.reset-size8.size9 {
  font-size: 1.19653179em;
}
.katex .fontsize-ensurer.reset-size8.size10,
.katex .sizing.reset-size8.size10 {
  font-size: 1.43930636em;
}
.katex .fontsize-ensurer.reset-size9.size1,
.katex .sizing.reset-size9.size1 {
  font-size: 0.24154589em;
}
.katex .fontsize-ensurer.reset-size9.size2,
.katex .sizing.reset-size9.size2 {
  font-size: 0.33816425em;
}
.katex .fontsize-ensurer.reset-size9.size3,
.katex .sizing.reset-size9.size3 {
  font-size: 0.38647343em;
}
.katex .fontsize-ensurer.reset-size9.size4,
.katex .sizing.reset-size9.size4 {
  font-size: 0.43478261em;
}
.katex .fontsize-ensurer.reset-size9.size5,
.katex .sizing.reset-size9.size5 {
  font-size: 0.48309179em;
}
.katex .fontsize-ensurer.reset-size9.size6,
.katex .sizing.reset-size9.size6 {
  font-size: 0.57971014em;
}
.katex .fontsize-ensurer.reset-size9.size7,
.katex .sizing.reset-size9.size7 {
  font-size: 0.69565217em;
}
.katex .fontsize-ensurer.reset-size9.size8,
.katex .sizing.reset-size9.size8 {
  font-size: 0.83574879em;
}
.katex .fontsize-ensurer.reset-size9.size9,
.katex .sizing.reset-size9.size9 {
  font-size: 1em;
}
.katex .fontsize-ensurer.reset-size9.size10,
.katex .sizing.reset-size9.size10 {
  font-size: 1.20289855em;
}
.katex .fontsize-ensurer.reset-size10.size1,
.katex .sizing.reset-size10.size1 {
  font-size: 0.20080321em;
}
.katex .fontsize-ensurer.reset-size10.size2,
.katex .sizing.reset-size10.size2 {
  font-size: 0.2811245em;
}
.katex .fontsize-ensurer.reset-size10.size3,
.katex .sizing.reset-size10.size3 {
  font-size: 0.32128514em;
}
.katex .fontsize-ensurer.reset-size10.size4,
.katex .sizing.reset-size10.size4 {
  font-size: 0.36144578em;
}
.katex .fontsize-ensurer.reset-size10.size5,
.katex .sizing.reset-size10.size5 {
  font-size: 0.40160643em;
}
.katex .fontsize-ensurer.reset-size10.size6,
.katex .sizing.reset-size10.size6 {
  font-size: 0.48192771em;
}
.katex .fontsize-ensurer.reset-size10.size7,
.katex .sizing.reset-size10.size7 {
  font-size: 0.57831325em;
}
.katex .fontsize-ensurer.reset-size10.size8,
.katex .sizing.reset-size10.size8 {
  font-size: 0.69477912em;
}
.katex .fontsize-ensurer.reset-size10.size9,
.katex .sizing.reset-size10.size9 {
  font-size: 0.8313253em;
}
.katex .fontsize-ensurer.reset-size10.size10,
.katex .sizing.reset-size10.size10 {
  font-size: 1em;
}
.katex .delimsizing.size1 {
  font-family: KaTeX_Size1;
}
.katex .delimsizing.size2 {
  font-family: KaTeX_Size2;
}
.katex .delimsizing.size3 {
  font-family: KaTeX_Size3;
}
.katex .delimsizing.size4 {
  font-family: KaTeX_Size4;
}
.katex .delimsizing.mult .delim-size1 > span {
  font-family: KaTeX_Size1;
}
.katex .delimsizing.mult .delim-size4 > span {
  font-family: KaTeX_Size4;
}
.katex .nulldelimiter {
  display: inline-block;
  width: 0.12em;
}
.katex .op-symbol {
  position: relative;
}
.katex .op-symbol.small-op {
  font-family: KaTeX_Size1;
}
.katex .op-symbol.large-op {
  font-family: KaTeX_Size2;
}
.katex .accent > .vlist > span,
.katex .op-limits > .vlist > span {
  text-align: center;
}
.katex .accent .accent-body > span {
  width: 0;
}
.katex .accent .accent-body.accent-vec > span {
  position: relative;
  left: 0.326em;
}
.katex .mtable .vertical-separator {
  display: inline-block;
  margin: 0 -0.025em;
  border-right: 0.05em solid #000;
}
.katex .mtable .arraycolsep {
  display: inline-block;
}
.katex .mtable .col-align-c > .vlist {
  text-align: center;
}
.katex .mtable .col-align-l > .vlist {
  text-align: left;
}
.katex .mtable .col-align-r > .vlist {
  text-align: right;
}

        .gt-bg-theme-color-first {
          background: #ffffff!important;
        }
        
        .gt-bg-theme-color-second {
          background: #ffffff!important;
        }
        
        .gt-bg-content-color-first {
          background: #5f6169!important;
        }
        
        .gt-bg-content-color-second {
          background: #999fa7!important;
        }
        
        .gt-bg-accent-color-first {
          background: #f5bab2!important;
        }
        
        .gt-bg-accent-color-second {
          background: RGBA(245,186,178,0.14)!important;
        }
        
        .gt-c-theme-color-first {
          color: #ffffff!important;
        }
        
        .gt-c-theme-color-second {
          color: #ffffff!important;
        }
        
        .gt-c-content-color-first {
          color: #5f6169!important;
        }
        
        .gt-c-content-color-second {
          color: #999fa7!important;
        }
        
        .gt-c-accent-color-first {
          color: #f5bab2!important;
        }
        
        .gt-c-accent-color-second {
          color: RGBA(245,186,178,0.14)!important;
        }
        
        body {
          color: #5f6169!important;
        }
        
        a {
          color: #f5bab2!important;
        }
        
        .post-content h1 {
          display: inline-block;
          color: #5f6169!important;
          position: relative!important;
          background: linear-gradient(180deg, transparent 75%, RGBA(245,186,178,0.4) 0)!important;
        }
        
        .post-content h2 {
          display: inline-block;
          color: #5f6169!important;
          position: relative!important;
          background: linear-gradient(180deg, transparent 75%, RGBA(245,186,178,0.4) 0)!important;
        }
        
        .gt-a-link {
          color: #5f6169!important;
          position: relative!important;
          background: linear-gradient(180deg, transparent 75%, RGBA(245,186,178,0.4) 0)!important;
        }
        
        .gt-post-content a {
          color: #f5bab2!important;
        }
        
        .gt-post-content blockquote {
          background: RGBA(245,186,178,0.14)!important;
          border-color: #f5bab2!important;
        }
        
        .gt-post-content code {
          background: RGBA(245,186,178,0.14)!important;
        }
         
